@import url("https://fonts.googleapis.com/css2?family=Bitcount+Single&display=swap");

.balance-container {
  background-color: #0c0914;
  border: 1px solid #3a3a3a;
  box-shadow: 0 8px 30px -5px rgba(81, 45, 168, 0.3);
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.balance-label {
  color: #888;
  font-size: 14px;
  margin: 0 0 8px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.balance-value {
  font-family: "Bitcount Single", monospace;
  font-size: 32px;
  font-weight: 800;
  color: #18f1e7;
  margin: 0;
  text-shadow: 0 0 10px rgba(20, 241, 149, 0.01);
  word-wrap: break-word;
}

.theme-light .balance-container {
  background-color: #ffffff;
  border-color: #e5e7eb;
  color: #000;
  box-shadow: 0 10px 25px -5px rgba(81, 45, 168, 0.3);
}

.theme-light .balance-label {
  color: #6b7280;
}

.theme-light .balance-value {
  color: #000;
  text-shadow: none;
}
